In [1]:
import numpy as np
import pandas as pd

In [2]:
import glob

In [3]:
folder_names = glob.glob("training_dataset\\*")
label = []
data = []

In [4]:
print(folder_names)

['training_dataset\\black', 'training_dataset\\blue', 'training_dataset\\brown', 'training_dataset\\green', 'training_dataset\\grey', 'training_dataset\\orange', 'training_dataset\\red', 'training_dataset\\violet', 'training_dataset\\white', 'training_dataset\\yellow']

In [5]:
from PIL import Image

In [6]:
for folder in folder_names:
    filenames = glob.glob(folder+'\\*')
    
    for file in filenames:
        
        label = label+[[folder.split('\\')[1]]]
        img = Image.open(file).convert('RGB')
        img = img.resize((28,28))     
        img1 = np.asarray(img)   
        img1 = img1.reshape(-1,)
        
        data.append(img1)

In [10]:
df1 = pd.DataFrame(data,columns=[str(i) for i in range(28*28*3)])
df2 = pd.DataFrame(label,columns=['label'])

df = df1.join(df2)

In [11]:
df.to_excel('C:\\Users\\User\\Desktop\\colordata.xlsx')

In [14]:
df1

,0,1,2,3,4,5,6,7,8,9,...,2342,2343,2344,2345,2346,2347,2348,2349,2350,2351
0,10,5,2,10,5,2,10,5,2,10,...,2,10,5,2,10,5,2,10,5,2
1,17,0,17,17,0,17,17,0,17,17,...,17,17,0,17,17,0,17,17,0,17
2,29,24,23,29,24,23,29,24,23,29,...,23,29,24,23,29,24,23,29,24,23
3,47,47,47,47,47,47,47,47,47,47,...,47,47,47,47,47,47,47,47,47,47
4,28,29,33,28,29,33,28,29,33,28,...,33,28,29,33,28,29,33,28,29,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,255,187,22,255,183,8,255,183,9,255,...,9,255,183,9,255,183,8,255,187,22
246,255,255,0,255,255,0,255,255,0,255,...,0,255,255,0,255,255,0,255,255,0
247,255,166,0,255,166,0,255,166,0,255,...,0,255,166,0,255,166,0,255,166,0
248,249,217,94,249,217,94,249,217,94,249,...,94,249,217,94,249,217,94,249,217,94
249,246,191,39,246,191,39,246,191,39,246,...,39,246,191,39,246,191,39,246,191,39

In [16]:
df2 = pd.DataFrame(data,columns=[str(i) for i in range(28*28*3)])